jupyter==1.0.0                         # for the talk slides
jupyter-contrib-nbextensions==0.5.1
rise==5.7.1                            # jupyter notebooks -> slides w/interactive code

pre-commit==2.19.0                     # one of many git hooks packages; good docs
black==22.3.0
pylint==2.14.0
